* {
     box-sizing: border-box;
}
 body {
    font-family: 'Roboto', sans-serif;
     padding: 20px;
     background: #e1e1e1;
}
 .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 @media screen and (max-width: 800px) {
     .leftcolumn, .rightcolumn {
         width: 100%;
         padding: 0;
    }
}
